{% extends "layout.html" %}
    {% block index %}
        <!--Insta posts-->
        <div class="card-body" >
            <!-- DO NOT CHANGE THIS -->
            <form action="/accounts/?target=password" method="post" enctype="multipart/form-data">
                <label>Old Password</label>
                <input type="password" name="password" required/> <br>
                <label>New Password</label>
                <input type="password" name="new_password1" required/> <br>
                <label>New Password, again</label>
                <input type="password" name="new_password2" required/> <br>
                <input type="submit" name="update_password" value="submit"/>
                <input type="hidden" name="operation" value="update_password"/>
            </form>
  
        </div>
    {% endblock %}